<div class="movie-list">
  <div *ngFor="let movie of movieList" class="movie-card" [ngClass]="{ 'movie-clicked': clickedMovieId === movie?.id }" (click)="onMovieClick(movie)">
    <a class="movie-title">{{ movie?.original_title }}</a>
  </div>
</div>

<div class="pagination">
  <button (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
  <span class="page-info">{{ currentPage }} / {{ totalPages }}</span>
  <button (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
</div>
