.movie-list {
  display: grid;
  grid-template-columns: 1fr;
}

.movie-card {
  border: 1px solid #ddd;
  padding: 0.66rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  position: relative;
  overflow: hidden;
}

.movie-clicked, .movie-card:hover {
  background-color: #e0e0e0;
}

.movie-card::before {
  content: '';
  position: absolute;
  top: 44%;
  right: 9px;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid black;
  opacity: 0;
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.movie-clicked::before, .movie-card:hover::before {
  opacity: 1;
}

.movie-title {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.pagination {
  margin: 1rem auto;
  text-align: center;
}

.pagination button {
  padding: 8px 16px;
  margin: 0 5px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: #0056b3;
  }
}

.pagination button[disabled] {
  background-color: #ccc;
  cursor: not-allowed;
}

.page-info {
  font-size: 16px;
  margin: 0 10px;
  color: #333;
  display: inline-block;
  vertical-align: middle;
}
