.main-title {
  border-bottom: 2px solid;
  padding: 1rem;
  margin: auto 0px;
}

.main-container {
  display: grid;
  grid-template-columns: 30% 70%;
  height: 100vh;

  .movie-details {
    padding: 1.5rem;
    border-left: 1px solid #ccc;
  }

}

